.encartheader {
  width: 90%;
  padding: 10px 25px 10px 25px;
  border-radius: 20px;
  margin: 20px auto 20px auto;
}
.encartheader h1 {
  color: white;
  font-size: 75px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: start;
  text-shadow: 1px 1px 10px black;
}
.encartheader p {
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-align: start;
  text-shadow: 1px 1px 10px black;
}
.encartheader a {
  color: white;
}
.encartheader a:visited {
  color: white;
}
@media (max-width: 767px) {
  .encartheader h1 {
    font-size: 40px;
  }
  .encartheader p {
    font-size: 16px;
  }
}
