.navbar {
  display: flex;
  justify-content: center;
  height: 55px;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.navdesktop {
  display: flex;
  justify-content: center;
  width: 100%;
  backdrop-filter: blur(15px);
}
.navbar .logonavbar {
  position: absolute;
  z-index: 1;
  align-self: center;
  left: 15px;
}
.navbar .linknavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul:hover li {
  filter: blur(1.8px);
}
.navbar ul li:hover {
  filter: blur(0px);
}
.navbar li {
  color: #fffffe;
  list-style-type: none;
  font-size: larger;
  padding: 6px;
  border-radius: 8px;
  transition: ease-in-out 0.3s;
}
.navbar li:hover {
  background-color: #7a7a7a60;
  padding: 6px;
}
.linknavbar a.active {
  background-color: #58585860;
  border-radius: 8px;
}
.navbar a {
  text-decoration: none;
}
.navbar .logo h1 {
  position: relative;
  left: 0;
  margin: 0;
  color: #ffffff;
}
/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
  height: 15px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 250px !important;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0;
  left: -25px !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-size: 24px;
  margin-top: 28px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0) !important;
}

/*Media Queries téléphone*/

@media (max-width: 767px) {
  .bm-burger-button {
    display: block;
    position: fixed;
    width: 36px;
    height: 30px;
    right: 25px;
    top: 14px;
  }
  .navbar .linknavbar {
    display: none;
  }
  .navbar div:first-child {
    display: block;
  }
}
