.playlist-gallery-div {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 1fr));  grid-gap: 0 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.youtube-video-figure {
  margin: 0;
}

.youtube-video-image {
  width: 100%;
  cursor: pointer;
  height: auto;
    
}

.youtube-video-image + figcaption {
  padding-bottom: 2.2rem;
  text-align: left;
  font-weight: 600;
  color: inherit;
}

@media only screen and (min-width: 600px) {
  
  .youtube-video-image + figcaption {
    padding-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 1256px){
  .playlist-gallery-div {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));  grid-gap: 0 2rem;
  }

}