.playlist-gallery-div {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.youtube-video-figure {
  margin: 0;
}

.youtube-video-image {
  width: 100%;
  max-width: 278px;
  cursor: pointer;
  height: auto;
    object-fit: cover;
    margin-top: -26px;
    margin-bottom: -30px;
    
}

.youtube-video-image + figcaption {
  padding-bottom: 2.2rem;
  text-align: left;
  font-weight: 600;
  color: inherit;
}
.youtube-video-wrapper {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}
.fslightbox-container{
  height: 100vh !important;
}

.textandvideos{
  max-width: 278px;
}

@media only screen and (min-width: 600px) {
  
  .youtube-video-image + figcaption {
    padding-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .youtube-video-image{
    max-width: none;
    margin-top: -32px;
    margin-bottom: -49px;
  }  
}
